$gradient-start-color: hsl(249, 99%, 64%);
$gradient-end-color: hsl(278, 94%, 30%);
$error-color: hsl(0, 100%, 66%);

$neutral-0: #000;
$neutral-100: hsl(278, 68%, 11%);
$neutral-400: hsl(279, 6%, 55%);
$neutral-500: hsl(270, 3%, 87%);
$neutral-600: hsl(0, 0%, 100%);
$neutral-900: #fff;
